*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body{
    background: aliceblue;
}

#profil{
}

#code h1{
        text-align: center;
    font-size: 40px;

}

#guille{
    width: 30px;
    margin: 0 0 190px 0;
}

#img{
    width: 50%;
    border-radius: 50%;
}

#desc{
    margin-top: 2vh;
    width: min(90%, 1000px);
    margin-inline:auto ;
    background-color: white;
    padding-inline: 5vw;
    border-radius: 20px;
    text-align: justify;
    font-family: helvetica;
}

#fleche img{
    width: 25%;
    cursor: pointer;
}

#btnSupriseMe{
    padding: 1%;
    background: lightskyblue;
    border-radius: 30px;
    cursor: pointer;
    width : 25%;

}


/*@media screen and (max-width: 600px) {*/
/*    #desc{*/
/*        width: min(100%, 800px);*/
/*    }*/
/*    */
/*}*/
